<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Voter List</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <style>
    body, html {
      height: 100%;
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2 class="word-text" style="font-size: 40px">Vote result page</h2>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Years of Experience</th>
          <th>DevOps Tools Voted</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="voter : ${voters}">
          <td th:text="${voter.firstName}"></td>
          <td th:text="${voter.lastName}"></td>
          <td th:text="${voter.email}"></td>
          <td th:text="${voter.email}"></td>
          <td th:text="${voter.yearsOfExperience}"></td>
          <td th:text="${voter.devopsTools}"></td>
        </tr>
      </tbody>
    </table>
    <button type="button" onclick="location.href='/index'" class="btn btn-primary" style="margin: 30px">
      Go to home
    </button>
  </div>
</body>
</html>
